
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
	margin:5px;
  background-image: url("../images/libros2.jpg");
 background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif;
   min-width: 300px !important;
  /*max-height: 300px !important;*/

}

nav a{
   
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration:none;
   margin-left:5px;
   color:white !important;
 font-family: 'Titillium Web', sans-serif;
   
}

nav li:hover{
	background: #12005e;
	border-radius: 5px;
	width: 90px;
	text-align: center
}
.navbar-toggler{
	background:white;
	border-radius:5px
}
.estilobarra{
   /*height: 50px;*/
   margin-top: 5px;
   margin-bottom: 5px;
   background-color: #a1689b;
}

 
 .seccion{
   background-color: #F9EFFB;
  min-height: 80vh;
 
 
  }

 
.footer{
   background-color:  #a1689b; 
   text-align: center;
   margin-top:5px;
   color:white;
   padding-top:15px;
   padding-bottom: 15px;

 }
   
.active{
   background-color: white !important;
   border-radius:5px;
   color:Purple !important;
   width:80px;
   text-align: center;	
}
.activeCarrito{
	background-color: #40c4ff !important;
	border-radius:50px;
	margin-right: 5px
	
	
}
#lista{
   margin-top: 25px;
   margin-bottom: 25px;
   
}

.fondoIndex{

border:none !important;
}

h5{
	
	font-size:20px;
	font-weight: bold;
}


.text-muted{
	font-size:15px;
	text-decoration:none;
}
.card-footer{
	background:#AF7595;
	font-weight: bold;
}
.card-footer:hover{
	background:#907AD6;
	
}
.linkfooter{
	color:white;
	font-weight: bold;
}
.linkfooter:hover{
	color:#363457;
	text-decoration: none;
	font-size:16px;
	transition:2s;
}

.bordeCard{
	border: 1px solid purple;
}

.usuario{
	color:white;
	padding:2px;
}